*.py[co]
*.egg-info/
*.egg
.eggs/
cover/
.coverage
output.xml
flake8.log
nosetests.xml
pylint.log
.idea/
.DS_Store
.pt
.vagrant/
*.deb
redis-server.log
redis-server/
dump.rdb
*.ignore

build/
htdocs/metadata.json
htdocs/media
